# SECRETS - DO NOT COMMIT THIS FILE, ASK ADMIN FOR VALUES

# Direct connection for migrations
DIRECT_DATABASE_URL=

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET_NAME=

# JWT Secret for signing tokens
JWT_SECRET=

# BCC CTF Club invite code (grants BCC_CTFCLUB role on registration)
CLUB_INVITE_CODE=BRISTOL_ctfClubSp26

NEXT_PUBLIC_TERMINAL_BASE_URL=https:...